<div id="links" class="container">
  <h1 class="display-3">Links {{#link-to 'links.new' class="btn btn-primary-outline"}}New{{/link-to}}</h1>

  <div class="list-group">
    {{#each links as |link|}}
      {{link-item link=link}}
    {{/each}}
  </div>
</div>
{{yield}}
