<nav class="navbar navbar-light bg-faded">
  {{#link-to 'index' class="navbar-brand" }}EP Learn{{/link-to}}
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      {{#if session.currentUser}}
        {{#link-to 'links' class="nav-link"}}Links {{/link-to}}
      {{/if}}
    </li>
  </ul>
  <div class="pull-right">
    {{#if session.currentUser}}
      <a {{action 'logout'}} class="sign-in-btn btn btn-secondary-outline">Logout</a>
      <img class="img-rounded avatar-img"src="{{session.currentUser.avatar_url}}" alt="" />
    {{else}}
      {{#link-to 'login' classNames="sign-in-btn btn btn-secondary-outline"}}Login{{/link-to}}
    {{/if}}
  </div>
</nav>


{{outlet}}
